*.png filter=lfs diff=lfs merge=lfs
*.jpg filter=lfs diff=lfs merge=lfs
*.jpeg filter=lfs diff=lfs merge=lfs
*.tga filter=lfs diff=lfs merge=lfs
*.psd filter=lfs diff=lfs merge=lfs
*.fbx filter=lfs diff=lfs merge=lfs
*.uasset filter=lfs diff=lfs merge=lfs
*.umap filter=lfs diff=lfs merge=lfs
*.mp3 filter=lfs diff=lfs merge=lfs
*.wav filter=lfs diff=lfs merge=lfs
*.ogg filter=lfs diff=lfs merge=lfs
*.mp4 filter=lfs diff=lfs merge=lfs
*.avi filter=lfs diff=lfs merge=lfs
*.ubulk filter=lfs diff=lfs merge=lfs
*.loc filter=lfs diff=lfs merge=lfs
*.assetregistry filter=lfs diff=lfs merge=lfs
*.cookeddata filter=lfs diff=lfs merge=lfs
*.pak filter=lfs diff=lfs merge=lfs
*.sav filter=lfs diff=lfs merge=lfs